body{
	background: url("http://www.rtjsjg.com/data/out/257/4849993-abstract-texture-hd-wallpapers.jpg") no-repeat center center fixed;
	background-size: cover;

}

h1{
	margin: 50px;
	color: White;
}

.thumbnail {
	background-color: transparent;
	border: none;
}